.formulario{
    border-radius: 0px;
    padding-left: 8%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(106, 78, 176);
    background-color: #b2b4b6;
}
.resultados{
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(106, 78, 176);
    background-color: #b2b4b6;
}

.form-input{
    width: 70%;
    background-color: #5bcb5b;
}

.card-resultado{
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    color: black;
    border: 1px solid red;
    border-radius: 12px;
    background-color: #b7b6ba;
}